<table width="70%" align="center">
  <tbody>
    <tr>
      <td colspan="5" align="center" class="graublau zoom inner_shadow">The Settings</td>
    </tr>
    <tr>
      <td><a class="fade fadeStadium" href="/ipl/stadia"><span>This content is hidden</span></a></td>
      <td>&nbsp;</td>
      <td><a class="fade fadeTeams" href="/ipl/teams"><span>This content is hidden</span></a></td>
      <td>&nbsp;</td>
      <td><a class="fade fadeSchedule" href="/ipl/schedule"><span>This content is hidden</span></a></td>
    </tr>
    <tr>
      <td><br/><td>
    </tr>
    <tr>
      <td colspan="5" align="center" class="graublau zoom inner_shadow">The Games</td>
    </tr>
    <tr>
      <td><a class="fade fadeGilli" href="/ipl/soon"><span>This content is hidden</span></a></td>
      <td>&nbsp;</td>
      <td><a class="fade fadeRummy" href="/ipl/soon"><span>This content is hidden</span></a></td>
      <td>&nbsp;</td>
      <td><a class="fade fadeMangatha" href="/ipl/soon"><span>This content is hidden</span></a></td>
    </tr>
  </tbody>
</table>
<div class="clearfix">&nbsp;</div>
