<div class="grid_2">&nbsp;</div>
<form method="post" action="/ipl/save">
  <input type="hidden" name="authenticity_token" id="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="checkbox" class="jsCheck grid_1" name="no" id="no"><label for="no" class="grid_8">Naa, I won't be playing this anymore.</label>
  <div class="clear"></div>
<div class="grid_2">&nbsp;</div>
  <input type="checkbox" class="jsCheck grid_1" name="rule" id="rule"><label for="rule" class="grid_8">T20 is more intense, your app won't cut it.</label>
  <div class="clear"></div>
<div class="grid_2">&nbsp;</div>
  <input type="checkbox" class="jsCheck grid_1" name="prizes" id="prizes"><label for="prizes" class="grid_8">What will I get out of playing? If there is a T-Shirt for winners, then...</label>
  <div class="clear"></div>
<div class="grid_2">&nbsp;</div>
  <input type="checkbox" class="jsCheck grid_1" name="mobile" id="mobile"><label for="mobile" class="grid_8">I want this game as an app on my Android/iPhone/Symbian/WP7 device.</label>
  <div class="clear"></div>
<div class="grid_2">&nbsp;</div>
  <input type="checkbox" class="jsCheck grid_1" name="laf" id="laf"><label for="laf" class="grid_8">Change the website's UI, this is not that friendly.</label>
  <div class="clear"></div>
<div class="grid_2">&nbsp;</div>
  <input type="checkbox" class="jsCheck grid_1" name="more" id="more"><label for="more" class="grid_8">Have more variety of Games, there should be a take away for non-regulars</label>
  <div class="clear"></div>
<div class="grid_2">&nbsp;</div>
  <input type="checkbox" class="jsCheck grid_1" name="pop" id="pop"><label for="pop" class="grid_8">This is not popular, do you know anything about Marketing at all?</label>
  <div class="clear"></div>
<div class="grid_2">&nbsp;</div>
  <input type="checkbox" class="jsCheck grid_1" name="suggest" id="suggest"><label for="suggest" class="grid_8">Hey, I have this idea for IPL 4, can you add this to your app?</label>
  <div class="clear"></div>
<div class="grid_2">&nbsp;</div>
    <input type="checkbox" class="jsCheck grid_1" name="feedback" id="feedback"><label for="feedback" class="grid_8">My Random thoughts about your website...</label>
  <div class="clear"></div>
  <br/>
<div class="grid_11" align="center">
  <input type="submit" class="button" value="submit"/>
</div>
</form>
