<% content_for :title, "Home" %>
<div class="clearfix">&nbsp;<div id="fb-root"></div></div>
<script>
    FB.init({
        appId:'190939097590526', cookie:true,
        status:true, xfbml:true
    });

    function postToWall() {
        FB.ui({ method: 'feed', message: 'Facebook for Websites is super-cool'});
    }

    function inviteFriends() {
        FB.ui({method: 'apprequests', message: 'You should learn more about this game.', data: 'tracking information for the user'});
    }
</script>
<div class="grid_7 desc">
    <a href="/game">Select</a> top 5 players whom you think will perform best in each match.
    <br/>Based on their <a href="/rules">performance</a>, you'll score points in each match.
    <br/>
    <!-- <input type="button" class="fbButtonblue" value="Post" onclick="postToWall()"/> -->
</div>
<div align="center" class="grid_7 desc">
    <br/><br/>Test your instincts!
</div>

<div class="grid_1">&nbsp;</div>
<div class="grid_4" align="right">
    <fb:like href="http://www.facebook.com/apps/application.php?id=190939097590526" width="300"></fb:like>
</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

<% if @authorizations and !@authorizations.empty? %>
    <div class="grid_5" align="center">Your Friends&nbsp;<input type="button" class="fbButtonblue" value="Invite" onclick="inviteFriends()"/></div>
    <div class="clearfix">&nbsp;</div>
    <% @authorizations.each do |auth| %>
        <div class="grid_1">&nbsp;</div>
        <div class="grid_4 highlight_user">&nbsp;&nbsp;<%= auth.user.name -%>&nbsp;<%= image_tag(auth.user.image, {:class => "image_pos"}) %></div>
        <div class="clearfix">&nbsp;</div>
    <% end %>
    <div class="grid_4" align="center"><%= will_paginate @authorizations %></div>
<% else %>
    <div class="grid_5" align="center">Invite your friends&nbsp;<input type="button" class="fbButtonblue" value="Invite" onclick="inviteFriends()"/></div>
<% end %>
