<script type="text/javascript">
  loadPromoImages();
</script>
<table align="center" id="promo" width="60%">
  <tbody>
    <tr>
      <td align="center">
        <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/icc-cwc-promo.png", {:alt => "/session/wc", :name => "0", :class => "swap", :style => "border:0;"} %>
      </td>
      <td align="center">
        <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/openbala/ipl-promo.png", {:alt => "/ipl", :name => "1",  :class => "swap", :style => "border:0;"} %>
      </td>
    </tr>
  </tbody>
</table>
