<html>
  <head>
    <title>
    </title>
      <link href='http://fonts.googleapis.com/css?family=Molengo' rel='stylesheet' type='text/css'>
  </head>
  <body style="font-family: 'Molengo'">
    Hi! <strong><%=current_user.name%></strong>, come back soon.&nbsp;&nbsp;<a href="<%=logout_path%>">sign out</a><br/>
    <br/><br/>
  <%= link_to 'Schedule', :controller => 'schedule', :action => 'index' %>
  <%= link_to 'Play', :controller => 'game', :action => 'index' %>
  </body>
</html>
