<table align="center" id="promo" class="grid_11">
  <tbody>
    <tr>
      <td class="grid_4">
        <%= image_tag "icc-cwc-promo.png", {:alt => "/session", :class => "swap", :style => "border:0;"} %>
      </td>
      <td class="grid_2">&nbsp;</td>
      <td class="grid_4" align="right">
        <%= image_tag "ipl-promo.png", {:alt => "/ipl", :class => "swap", :style => "border:0;"} %>
      </td>
    </tr>
  </tbody>
</table>
