<div align="center" class="grid_12">
    <ul id="profile">
        <li><%= link_to 'Matchwise Ranking', :controller => 'profile' %></li>
        <li><%= link_to 'Overall Ranking', :controller => 'results' %></li>
        <li><%= link_to 'History', :controller => 'myspace' %></li>
        <li><%= link_to 'Current Form', :controller => 'current_form' %></li>
    </ul>
</div>
<div class="clear clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
