<div class="grid_7">&nbsp;</div>
<div align="center" class="grid_4">
    <ul id="profile">
      <li><%= link_to 'Pie Charts', {:controller => 'statistics'}, :class => ('high_play' if src == 'statistics') %></li>
      <li><%= link_to 'Complete Stats', {:controller => 'raw_stats'}, :class => ('high_play' if src == 'raw_stats') %></li>
    </ul>
</div>
<div class="clear clearfix">&nbsp;</div>
