.banner {
    font-family: 'Lobster', arial, serif;
    font-size: 84;
    color: #B4045F;
}

.inner_shadow {
    text-shadow: 1px 1px white, -1px -1px #444;
}

.country {
    font-family: verdana;
    font-size: large;
}

.ui-draggable {
    border: blue solid 1px;
    background-color: #add8e6;
    font-family: verdana;
    font-size: large;
    margin: 2px 2px 2px 2px;
    padding-left: 2px;
    cursor: pointer;
}

.ui-droppable {
    border: black solid 1px;
    background-color: gray;
    margin: 5px 5px 5px 5px;
    font-size: xx-large;
}

.ui-draggable-dragging {
    z-index: 1000;
}

td {
    margin: 15px;
}

.auth_provider img {
    display: block;
    border: 0px;
}

.auth_provider {
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px;
}
