body {
    font-family: 'Droid Sans', "lucida grande", tahoma, verdana, arial, sans-serif;
    background-color: #f0f8ff;
}

.banner {
    font-family: 'Lobster', arial, serif;
    font-size: 84px;
    color: #6495ed;
}

ul#menu {
    list-style: none;
    margin: 20px;
    padding: 0;
    width: 960px
}

ul#menu li {
    display: inline
}

ul#menu li a {
    text-decoration: none;
    padding: 5px 0;
    width: 100px;
    background: #6495ed;
    color: #eee;
    float: left;
    text-align: center;
    border-left: 1px solid #fff;
}

ul#menu li a:hover {
    background: #a2b3a1;
    color: #000
}

a {
    text-decoration: none;
}

.scorecard {
    font-size: small;
}

.inner_shadow {
    text-shadow: 1px 1px white, -1px -1px #444;
}

.footer {
    color: gray;
    font-size: small;
}

.draggable {
    border: blue solid 1px;
    background-color: #add8e6;
    margin: 2px 2px 2px 2px;
    padding-left: 2px;
    cursor: pointer;
}

.droppable {
    border: black solid 1px;
    background-color: gray;
    margin: 5px 5px 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 25px;
    z-index: -1;
}

.five {
    width: 280px;
}

.four {
    width: 270px;
}

.three {
    width: 260px;
}

.two {
    width: 250px;
}

.one {
    width: 240px;
}

div.droppable.hover {
    background-color: #efefef;
}

.fb_button_text {
    background: #5F78AB;
    border-top: solid 1px #879AC0;
    border-bottom: solid 1px #1A356E;
    color: white;
    display: block;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-weight: bold;
    padding: 2px 6px 3px 6px;
    margin: 1px 1px 0 0;
    text-shadow: none;
}

.fb_button_medium {
    font-size: 11px;
    line-height: 14px;
}
