.banner { 
  font-family: 'Lobster', arial, serif; 
  font-size: 64;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}
