<div class="container container_12">
    <% @matches.each do |m| %>
        <div class="grid_2"><%= m.country_one.name %></div>
        <div class="grid_1">vs.</div>
        <div class="grid_2"><%= m.country_two.name %></div>
        <div class='clear'>&nbsp;</div>
    <% end %>
</div>