<html>
<head>
    <title>Rummy</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :all %>
</head>
<body>
<div class="container container_12">
    <div align="center">
        <div class="grid_4">&nbsp;</div>
        <div class="grid_4 inner_shadow banner" align="center">Rummy</div>
        <div class="clearfix">&nbsp;</div>

        <div class="grid_4">&nbsp;</div>
        <h3 class="grid_4 inner_shadow" style="color:gray;" align="center">under construction</h3>
        <div class="clearfix">&nbsp;</div>

        <div class="grid_4">&nbsp;</div>
        <a href="/auth/facebook" class="grid_4 fb_button_medium grid_1">
            <span class="fb_button_text">Login with Facebook</span>
        </a>
    </div>
</div>
</body>
</html>
