<html>
<head>
    <title>Rammi</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kreon:light' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :all %>
</head>
<body>
<div align="center">
    <div class="inner_shadow banner">Rammi</div>
    <h3 class="inner_shadow">under construction</h3>
    <a href="/auth/facebook" class="fb_button fb_button_medium grid_1">
        <span class="fb_button_text">Login with Facebook</span>
    </a>
</div>
</body>
</html>
