<html>
<head>
  <title>Rammi</title>
</head>
<body>
  <h1>Under Construction. ICC World Cup 2011 - Game</h1>
<%- @players.each do |player| -%>
  <%= player.display_name %>&nbsp;
 <%- end -%>
</body>
</html>
