<html>
<head>
    <title>Rummy</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :all %>
</head>
<body>
<div class="container container_12">
    <div align="center">
        <div class="grid_4">&nbsp;</div>
        <div class="grid_5" align="center"><span class="inner_shadow banner">Rummy</span>
            &nbsp;<span class="inner_shadow" style="color:gray;font-size:23px;">beta</span>
        </div>
        <div class="clearfix">&nbsp;</div>

        <div class="grid_4">&nbsp;</div>
        <h3 class="grid_4 inner_shadow" style="color:gray;" align="center">for</h3>

        <div class="clearfix">&nbsp;</div>

        <div class="grid_4">&nbsp;</div>
        <div class="grid_4">
            <%= image_tag "icc-worldcup-big.png" %>
        </div>
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>

        <div class="grid_5">&nbsp;</div>
        <div class="grid_2 fb_button_medium grid_1">
            <a href="/auth/facebook">
                <span class="fb_button_text">Login with Facebook</span>
            </a>
        </div>
    </div>
</div>
</body>
</html>
