<%= render :partial => "partials/ranking_sub_menu" %>
<center>
  <p>
  So, you joined late and think it isn't a fair fight for the top rank?
  What if you get a rank for your last 3 matches' performance only?
  </p>
</center>
<br/>
<center><strong>Soon..!</strong></center>
