<div align="center" class="grid_12">
    <ul id="profile">
        <li><%= link_to 'Matchwise Ranking', :controller => 'profile' %></li>
        <li><%= link_to 'Overall Ranking', :controller => 'results' %></li>
        <li><a href="#">My History - coming soon!</a></li>
    </ul>
</div>