<% content_for :title, "Game Rules" %>
<div class="grid_1">&nbsp;</div>
<div class="grid_10">
  <h3>Batsmen</h3>
  <ol type="1">
    <li>For every 5 runs, 4 points</li>
    <li>For every boundary, 2 points</li>
    <li>For every sixer, 3 points</li>
    <li>If he scored more than 25 runs and his strike rate is more than 100, 20 points</li>
    <li>If he scored more than 25 runs and his strike rate is higher than his team's then he gets 1/4th of the delta as points
    </li>
  </ol>
  <h3>Bowlers</h3>
  <ol type="1">
  <li>For every wicket, 20 points</li>
  <li>For every maiden, 8 points</li>
  <li>If he bowled more than 3 overs and his economy rate is less than 4.5, 20 points</li>
  <li>If he bowled more than 3 overs and his economy rate is less than the opposite team's then he gets 10 times the delta as points
  </li>
</ol>

<h3>Fielders</h3>
<ol type="1">
  <li>For every catch, stumping, run out - 20 points</li>
</ol>
  <div align="center">For examples of how this gets applied see the <a href="/trends">trends</a> of
    previous matches
  </div>
</div>
