<% content_for :title, "Game Rules" %>
<div class="grid_1"><strong>Batsmen</strong></div>
<div class="clear">&nbsp;</div>
<div class="grid_12">1. For every 5 runs, 4 points</div>
<div class="clear">&nbsp;</div>
<div class="grid_12">2. For every boundary, 2 points</div>
<div class="clear">&nbsp;</div>
<div class="grid_12">3. For every sixer, 3 points</div>
<div class="clear">&nbsp;</div>
<div class="grid_12">4. If he scored more than 25 runs and his strike rate is more than 100, 20 points</div>
<div class="clear">&nbsp;</div>
<div class="grid_12">5. If he scored more than 25 runs and his strike rate is higher than his team's then he gets 1/4th
    of the delta as points
</div>
<div class="clearfix">&nbsp;</div>

<div class="grid_1"><strong>Bowlers</strong></div>
<div class="clear">&nbsp;</div>
<div class="grid_12">1. For every wicket, 20 points</div>
<div class="clear">&nbsp;</div>
<div class="grid_12">2. For every maiden, 8 points</div>
<div class="clear">&nbsp;</div>
<div class="grid_12">3. If he bowled more than 3 overs and his economy rate is less than 4.5, 20 points</div>
<div class="clear">&nbsp;</div>
<div class="grid_12">4. If he bowled more than 3 overs and his economy rate is less than the opposite team's then he
    gets 10 times the delta as points
</div>
<div class="clearfix">&nbsp;</div>

<div class="grid_1"><strong>Fielders</strong></div>
<div class="clear">&nbsp;</div>
<div class="grid_12">1. For every catch, stumping, run out - 20 points</div>
<div class="clear">&nbsp;</div>
<div class="clear">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="grid_12" align="center">For examples of how this gets applied see the <a href="/trends">trends</a> of
    previous matches
</div>
<div class="clear">&nbsp;</div>
