<div class="grid_4" align="right"><a href="mailto:balaji@openbala.com">mail me</a></div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div id="fb-root" class="grid_3">&nbsp;</div>
<fb:comments numposts="20" width="475" publish_feed="true"></fb:comments>